.grande{
  border: 2px solid gray;

}
.green{
  background-color: forestgreen;
}
.rojo{
  background-color: crimson;
    div{
  }
}
.azul{
  background-color: white;
  div{
    border: 3px solid white;
    background-color: blue;
  }
}
.carmelita{
  div{

    border: 3px solid white;
  }
  background-color: chocolate;
}